{
  "passPerPreset": true,
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6"
        }
      }
    ]
  ],
  "plugins": [
    "syntax-async-functions",
    "transform-regenerator",
    "transform-runtime",
    "add-module-exports",
    "transform-es2015-destructuring",
  ]
}
