{
  "passPerPreset": true,
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8"
        }
      }
    ]
  ],
  "plugins": ["syntax-async-functions", "transform-regenerator", "transform-runtime"]
}
